.header{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    
    a:link {
        text-decoration: none;
    }
    &__menu{
        &__logo{
            img{
                width: 50px;
            }
        }
        &__link{
            margin:10px;
            float: right;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    }
}